
<h1>タスク編集</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.label :detail %></div>
  <div><%= f.text_field :detail %></div>
  <div><%= f.label :limit_date %></div>
  <div><%= f.text_field :limit_date %></div>
  <div><%= f.submit %></div>
<% end %>
<%=@task.user_id%>
<%=session[:user_id]%>
<%= link_to '戻る', top_path %>
