<h1>新規タスク</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.label :limit_date %></div>
  <div><%= f.date_select :limit_date %></div>
  <div><%= f.submit "タスク登録" %></div>
<% end %>
<%= link_to '戻る', tasks_path %>
