<h1 class="all_tasks">タスク一覧</h1>
<%if @done_tasks.nil?%>
    <%link_to "タスク追加", new_task_path%>
    <p>タスクが追加されていません</p>
<%else %>
<div class="table">
  <table>
      <thead>
        <tr>
          <th>タスク名</th>
          <th>期限</th>
          <th>状況</th>
        </tr>
      </thead>
      <tbody>
            <% @done_tasks.each do |task| %>
              <tr class="task_recode">
                <td class = "task_name"><%= task.title %></td>
                <td class = "limit_date"><%= task.limit_date%></td>
                <td class = "state"><%= task.state%></td>
              </tr>
            <% end %>
        <%end%>
      </tbody>
  </table>
</div>

<button class = "new_task_button"><%= link_to "タスク追加", new_task_path %></button>
<button class = "logout_button"><%= link_to "ログアウト", logout_path, method: :delete %></button>
