<h1 class="all_tasks">未対応</h1>
<%if @user_tasks.count()==0%>
    <%link_to "タスク追加", new_task_path%>
    <p>未対応のタスクはありません</p>
    <%= button_to "タスク追加", new_task_path, { method: :get, class: "new_task_button"} %>
<%else %>
<%= button_to "タスク追加", new_task_path, { method: :get, class: "new_task_button"} %>
<div class="table">
  <table>
      <thead>
        <tr>
          <th>タスク名</th>
          <th>期限</th>
          <th>状況</th>
        </tr>
      </thead>
      <tbody>
            <% @user_tasks.each do |task| %>
              <tr class="task_recode">
                <td class = "task_name"><%= task.title %></td>
                <td class = "limit_date"><%= task.limit_date%></td>
                <td class = "state"><%= task.state%></td>
                <td><%= button_to "実行", home_state_path, { method: :get, class: "tran_b", params: {id: task.id }} %></td>
                <td><%= button_to "詳細", detail_path, { method: :get, class: "detail_button", params: {id: task.id }} %></td>
                <td><%= button_to "編集", edit_task_path(task), { method: :get, class: "edit_button"} %></td>
                <td><%= button_to "削除", task_path(task), { method: :delete, class: "delete_button"} %></td>
              </tr>
            <% end %>
        <%end%>
      </tbody>
  </table>
</div>
<%= button_to "ログアウト", logout_path, { method: :delete, class: "logout_button"} %>
