<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <%if !session[:user_id].nil? && session[:on_board]==false%>
      <nav>
        <ul>
        <li><a href=/top>未対応</a></li>
        <li><a href=/doing>対応中</a></li>
        <li><a href=/done>対応済み</a></li>
        <li><a href="chart/top">進行状況</a></li>
        </ul>
      </nav>
      <%end%>
    </header>
    <%= yield %>
  </body>
</html>
